.App{
    max-width: 40%;
    margin: 2em auto;
    background-color: #394049;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
}


.todo-header{ 
    padding: 0.5em;
    border-bottom: 1px solid  #2c3035;
    text-align: center;
}



.form-todo input{
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    text-indent: 5px;
}

.form-todo form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-todo form button{
    padding: 20px;
    margin: 0 auto;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    
}

button:hover{
    cursor: pointer;
}


.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 


.pik{
    color: rgb(96, 96, 155);
    text-align: center;
}

.todo{
    background-color: rgb(122, 172, 180);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.done, .remove{
    cursor: pointer;
}

.todo svg{
    font-size: 1.2em;
    cursor: pointer;
    transition: .5s;
    margin-left: 10px;
}

.todo svg:hover{
    color: rgb(89, 197, 39);
}


.todo-done{
    color: blue;
}

.todo.select{
    border: 3px solid black;
}

.search-container input{
    width: 100%;
    margin-top: 1rem;
}